body {
    margin: 0;
}

.header-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    margin: 0 10rem;
}

.header-nav__menu ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.header-nav__menu a {
    text-decoration: none;
}

.header-nav__icons {
    display: flex;
    gap: 1rem;
}