


/* header-nav style */

/* Note from Fariha: "I've just done a basic style to get started, this is not the final version*/

/* Note2 from Fariha: The mobile screen would need less items on the header nav and a hamburger menu. If someone already knows how to do that, have at it. Otherwise, I'll figure it out */

.header-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav__menu ul {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

.header-nav__menu a {
    text-decoration: none;
}

.container {
    margin: 2rem;
}

.fa-solid.fa-magnifying-glass {
    display: none !important;
}

.fa-regular.fa-heart {
    display: none !important;
}