

:root {
    --sans-serif: 'Open Sans', sans-serif;
    --gap: 1rem;
    --bold: 700;
    --semi-bold: 700;
    --orange: #EEB17D;
    --green: #A8B7AB;
    --yellow-orange: #ffedd5;
    --soft-yellow: #F6E27F;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--yellow-orange);
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
}

.flex {
    display: flex;
    gap: var(--gap);
}

.wrap {
    flex-wrap: wrap;
}

/* Header */
.site-header {
    padding: 1rem 0;
}

.site-header div.flex {
    align-items: center;
}

.site-header__logo img {
    width: 3.125rem;
}

.site-header__menu {
    flex-grow: 1;       
}

.site-header__menu ul {
    justify-content: end;
    list-style: none;
}

.site-header__menu a {
    text-decoration: none;
    color: var(--blue);
    font-weight: var(--bold);
    font-size: 1.25rem;
    transition: 0.3s;
}

.site-header__menu a:hover {
    background-color: var(--green);
    color: white;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
}


footer {
        background-color: #333;
        color: #fff;
        padding: 60px 0;
    }

.footer-content {
    display: flex;
    justify-content: space-between;
}


.footer-socials a {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 15px;
}

.footer-links {
    display: flex;
    gap: 80px;
}

.footer-links div {
    flex: 1;
}

.footer-links h4 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.footer-links p,
.footer-links a {
    color: #ccc;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}