:root {
    --orange: #EEB17D;
    --green: #A8B7AB;
    --yellow-orange: #ffedd5;
}


.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
}

h3 { font-size: 1.5rem;}
h4 {font-size: 1.25rem;}


/* Hero-banner section */

.hero-banner {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/hero-banner.jpg");
    aspect-ratio: 16/9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 3rem;
}

.hero-banner__text {
    position: static;
    top: 3rem;
    left: 1.5rem;
}

.hero-banner__text h2 {
    font-family: "Chicle", "DM Sans", sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
    color: whitesmoke;
}

.hero-banner__text p {
    color: white;
    padding-bottom: 1rem;
}

.hero-banner__text-btn {
    background-color: var(--green);
    display: inline-block;
    padding: 0.5rem 0.5rem;
    border-radius: 2rem;
}

.hero-banner__text-btn a {
    text-decoration: none;
    color: white;
}


/* Featured Products Section */


.featured-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.5rem;
    justify-content: center;

}

.featured-content h3 {
    text-align: center;
    grid-column: auto/span 12;
    margin-top: 1rem;
}

.featured-content__card {
    grid-column: auto/span 6;
}

/* I dont understand this part */
/* .featured-content__card:nth-child(2) {
    grid-column: auto / span 12;
} */

.featured-content__card img {
    aspect-ratio: 1/1;
    object-fit: cover;
}


/* About and Custom Product Section */

.about-customprod {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 4rem;
    align-items: stretch;
}

.about-image {
    grid-column: auto / span 12;
}

.about-image img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.about-text {
    grid-column: auto / span 12;
    background-color: var(--green);
    padding: 1.75rem 1.75rem;
    aspect-ratio: 1/1;
}

.customprod-text {
    grid-column: auto / span 12;
    background-color: var(--orange);
    padding-top: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    aspect-ratio: 1/1;
}

.customprod-image {
    grid-column: auto / span 12;
}

.customprod-image img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.prod-gallery h3 {
    text-align: center;
    padding-top: 1rem;
    font-size: 1.5rem;
}

.gallery-container {
    padding: 1rem;
    column-count: 1;
}

.gallery-container img {
    width: 100%;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {

    .hero-banner__text h2 {
        font-size: 10rem;
    }

    .hero-banner__text p {
        font-size: 1.5rem;
    }

    .featured-content__card:nth-child(2) {
    grid-column: auto / span 3;
    }

    .featured-content__card {
    grid-column: auto/span 3;
}

    .about-customprod {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 4rem;
    }

    .about-image {
        grid-column: auto / span 6;
    }

    .about-image img {
        aspect-ratio: 1/1;
        object-fit: cover;
        width: 100%;
    }

    .about-text {
        grid-column: auto / span 6;
        background-color: var(--green);
    }

    .customprod-text {
        grid-column: auto / span 6;
        background-color: var(--orange);
    }

    .customprod-image {
        grid-column: auto / span 6
    }

    .customprod-image img {
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .gallery-container {
        padding: 1rem;
        column-count: 3;
    }

    .gallery-container img {
        width: 100%;
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 1280px) {
    
    .hero-banner {
        aspect-ratio: 16/7;
    }
    
    .hero-banner__text {
    top: 4rem;
    left: 3rem;
    }


    .hero-banner__text h2 {
        font-size: 10rem;
    }

    .hero-banner__text-btn a {
    font-size: 1.25rem;
}

    .about-customprod {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 4rem;
    }

    .about-image {
        grid-column: auto / span 6;
    }

    .about-image img {
        aspect-ratio: 1/1;
        object-fit: cover;
        width: 100%;
    }

    .about-text {
        grid-column: auto / span 6;
        background-color: var(--green);
    }

    .customprod-text {
        grid-column: auto / span 6;
        background-color: var(--orange);
    }

    .customprod-image {
        grid-column: auto / span 6
    }

    .customprod-image img {
        aspect-ratio: 1/1;
        object-fit: cover;
        width: 100%;
    }

    .gallery-container {
        padding: 1rem;
        column-count: 3;
    }

    .gallery-container img {
        width: 100%;
        margin-bottom: 1rem;
    }
}