
.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.hero-banner {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/hero-banner.jpg");
    aspect-ratio: 4/3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.hero-banner__text {
    position: absolute;
    top: 5rem;
    left: 1.5rem;
}

.featured-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.5rem;

}

.featured-content h2 {
    text-align: center;
    grid-column: auto/span 12;
}

.featured-content__card {
    grid-column: auto/span 6;
}

.featured-content__card img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.about-image {
    grid-column: auto / span 6;
}

.about-image img {
    aspect-ratio: 1/1;
    object-fit: cover;
}

