:root {
    --orange: #EEB17D;
    --green: #A8B7AB;
    --yellow-orange: #ffedd5;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--yellow-orange);
  max-width: 100vw;
  overflow-x: hidden;
}

/* Hero-banner section */

.hero-banner {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/hero-banner.jpg");
    aspect-ratio: 4/3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.hero-banner__text {
    position: absolute;
    top: 5rem;
    left: 1.5rem;
}
